* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Quicksand;
    src: url(/assets/fonts/Quicksand-Regular.ttf);
    font-display: swap;
}

:root {
    --fucsia: #ce4eb2;
    --gris: #bebebe;
    --rojo: #a11a1a;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 3em;
}

body,
input,
button {
    font-family: Quicksand;
}

p {
    font-size: larger;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    padding: 25px 0px 25px 8px;
    box-shadow: 0px 12px 10px -10px var(--gris);
}

.logo {
    width: 300px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.contenedor-filtro {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

input {
    width: 300px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--fucsia);
    outline: none;
}

.btn-form {
    background-color: var(--fucsia);
    color: #ffffff;
    border: 1px solid var(--fucsia);
    border-radius: 8px;
    padding: 6px 8px;
    font-size: medium;
    cursor: pointer;
}

.btn-form:hover {
    background-color: #ffffff;
    color: var(--fucsia);
    transition: 0.5s;
}

.not-filter {
    height: 5px;
}

.not-filter>p {
    color: var(--rojo);
    font-size: small;
    font-weight: 600;
}

.buttons-header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-header {
    background-color: #ffffff;
    color: var(--fucsia);
    position: relative;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
    border-right: 1px solid var(--fucsia);
    padding-right: 5px;
}

.btn-header:after {
    content: "";
    position: absolute;
    background-color: var(--fucsia);
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.btn-header:hover:after {
    width: 100%;
}

.contenedor-img {
    width: 250px;
    height: 250px;
}

.contenedor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resultados {
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.articulo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--fucsia);
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.btn-addCart {
    position: absolute;
    width: 30px;
    background-color: #ffffff;
    border: 2px solid var(--fucsia);
    border-radius: 20px;
    cursor: pointer;
    bottom: 0;
    right: 0;
    margin: 5px;
}

.btn-addCart:hover {
    animation: 1s linear 0.5s bell;
}

.btn-addCart > img {
    width: 100%;
    height: 100%;
}
@keyframes bell {
    0% {
        transform: rotate(30deg)
    }

    25% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-30deg)
    }

    75% {
        transform: rotate(0deg)
    }
}

.content-cart {
    background-color: #ffffff;
    width: 310px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 17px 4px var(--gris);
    position: absolute;
    z-index: 1;
    overflow: auto;
    scrollbar-color: none;
    right: 0;
    top: 130px;
    left: 0;
    margin: auto;
}

.header-cart {
    background-color: var(--fucsia);
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

}

.close-btn {
    width: 30px;
    height: 30px;
    background-color: var(--fucsia);
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
}

.empty-cart {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.article-product {
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-cart {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-cart>p {
    color: var(--rojo);
}

.footer-cart>.btn-finish {
    margin-top: 5px;
    padding: 8px 6px;
    border-radius: 8px;
    border: 2px solid var(--gris);
    color: var(--fucsia);
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.footer-cart>.btn-finish:hover {
    border: 2px solid var(--fucsia);
    transition: 0.5s;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--fucsia);
    color: #ffffff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (min-width: 576px) {
    header {
        padding: 25px 40px;
    }

    .content-cart {
        top: 150px;
        right: 0;
        margin-right: 20px;
    }
    .btn-header{
        font-size: large;
    }
}

@media (min-width: 768px) {
    .content-cart {
        top: 110px;
        right: 0;
        margin-right: 20px;
    }
}